<div class="card">
    <h1>Pipes de texto</h1>
    <table>
        <tr>
            <th>Nombre Pipe</th>
            <th>Valor sin Pipe</th>
            <th>Valor con Pipe</th>
            <th>opcion del Pipe</th>
        </tr>
        <tr>
            <td>uppercase</td>
            <td>{{texto}}</td>
            <td>{{texto | uppercase}}</td>
            <td></td>
        </tr>
        <tr>
            <td>lowercase</td>
            <td>{{texto}}</td>
            <td>{{texto | lowercase}}</td>
            <td></td>
        </tr>
        <tr>
            <td>titlecase</td>
            <td>{{texto}}</td>
            <td>{{texto | titlecase}}</td>
            <td></td>
        </tr>
    </table>
</div>
