<div class="container">
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="enviarCliente()">
            <div class="row">
                <div class="col-100">
                    <label for="">Nombre <span *ngIf="form.controls.nombre.pristine" class="danger"> completar campo</span></label>
                    
                    <input type="text" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">ruc <span *ngIf="form.controls.ruc.invalid" class="danger"> campo obligatiro 9 caracteres</span></label>
                    <input type="text" formControlName="ruc">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">direccion</label>
                    <input type="text" formControlName="direccion">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">localidad</label>
                    <input type="text" formControlName="localidad">
                </div>
            </div>
            <pre>
                
                Estado valid: {{form.valid }}
          

            </pre>
            <div class="row">
                <div class="col-100">
                    <button [disabled]="form.invalid" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
