<div class="container">
    <div class="row">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-100">
                    <label for="">Nombre</label>
                    <span *ngIf="form.controls.nombre.pristine">llenar datos</span>
                    <input type="text" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">ruc</label>
                    <input type="text" formControlName="ruc">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">direccion</label>
                    <input type="text" formControlName="direccion">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label for="">localidad</label>
                    <input type="text" formControlName="localidad">
                </div>
            </div>
            <pre>
                Estado pristine: {{form.controls.nombre.pristine }}
                Estado dirty: {{form.controls.nombre.dirty }}
                Estado touched: {{form.controls.nombre.touched }}
                Estado untouched: {{form.controls.nombre.untouched }}
                Estado valid: {{form.controls.nombre.valid }}
                Estado invalid: {{form.controls.nombre.invalid }}

            </pre>
        </form>
    </div>
</div>
